<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div class="container" layout:fragment="content">
    <div class="text-center">
        <h2>Super Awesome Todo App</h2>
        <h2> ======================</h2>
        <br/><br/>
        <h3>Technologies</h3>
        <h3>------------</h3>
        Java 8<br/>
        Spring Boot<br/>
        Spring Data and Hibernate (spring-boot-starter-data-jpa)<br/>
        Thymeleaf (spring-boot-starter-thymeleaf)<br/>
        Spring Security (spring-boot-starter-security)<br/>
        MySQL<br/>
        Maven 3.3.6<br/>
        <h4>SERVER PORT : 8090 </h4>
    </div>
</div>
</html>