<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div class="container" layout:fragment="content">
    <div class="text-center">
        <h1>Welcome to SUPER AWESOME TODO APP</h1>
        <div th:if="${currentUser eq null}">
            <p class="lead">
                You can get started quickly by signing up or use "admin/admin" and "user/user" combinations to simply login.
            </p>
            <p>
                <a href="/registration" th:href="@{/registration}" class="btn btn-success btn-lg">Sign up</a>
            </p>
        </div>
        <div class="panel panel-default" th:if="${currentUser ne null}">
            <div class="panel-body">
                <a href="#todo_add_modal" id="addTodoBtn" name="addTodoBtn" data-toggle="modal" class="btn btn-success btn-xs"
                   type="button" style="float: right">
                    <i class="fa fa-plus" aria-hidden="true"></i> <span th:text="#{modal.add}"></span>
                </a>
                <table class="table">
                    <thead>
                    <h2 th:text="#{today.message}"></h2>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(todayList)}">
                    <tr>
                        <th><p th:text="#{todoItem.details}"></p></th>
                        <th><p th:text="#{todoItem.priority}"></p></th>
                        <th><p th:text="#{todoItem.dueTime}"></p></th>
                        <th><p th:text="#{todoItem.done}"></p></th>
                        <th></th>

                    </tr>
                    <tr th:each="item : ${todayList}" class="text-left">
                        <td th:text="${item.details}"></td>
                        <td th:text="#{${item.priority.message}}" th:class="${item.priority.color}"></td>
                        <td th:text="${#temporals.format(item.dueTime, #messages.msg('dateTime.format'))}"></td>
                        <td>
                            <a th:href="@{/toggleDone/(todoItemId=${item.id},done=${!item.done})}">
                                <i th:if="${item.done}" class="fa fa-check" aria-hidden="true"></i>
                                <i th:if="not ${item.done}" class="fa fa-times-circle" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/delete/(todoItemId=${item.id})}" class="btn btn-danger btn-xs">
                                <i class="fa fa-minus" aria-hidden="true"></i> <span th:text="#{delete.message}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody th:if="${#lists.isEmpty(todayList)}">
                    <tr>
                        <td th:text="#{today.done.message}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="todo_add_modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                x
                            </button>
                            <h4 class="modal-title" id="todo_add_modal_label" th:text="#{todoAddModal.title}">
                            </h4>
                        </div>
                        <form id="todo_add_form" method="post" th:action="@{/todoadd}">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="task" th:text="#{todoItem.details}"></label>
                                    <input type="text" name="task" class="form-control" id="task"/>
                                </div>
                                <div class="form-group">
                                    <label for="priority" th:text="#{todoItem.priority}"></label>
                                    <select id="priority" name="priority" class="form-control">
                                        <option value="NOT_SPECIFIED" th:text="#{priority.notSpecified}"></option>
                                        <option value="CRITICAL" th:text="#{priority.critical}"></option>
                                        <option value="IMPORTANT" th:text="#{priority.important}"></option>
                                        <option value="MODERATE" th:text="#{priority.moderate}"></option>
                                        <option value="LOW" th:text="#{priority.low}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="time" th:text="#{todoItem.dueTime}"></label>
                                    <input type="datetime" name="time" class="form-control" id="time"
                                           placeholder="dd/MM/yyyy HH:mm"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span th:text="#{modal.close}"></span>
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <span th:text="#{modal.add}"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>